.my__block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* 右对齐 */
    overflow-y: scroll;
    position: absolute;
    max-height: calc(2 * 18px);
    /* 假设每行高度为14px，显示三行 */
    top: 10px;
    right: 0;
    width: 33.33%;
    /* 宽度为父容器的1/3 */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    > *:nth-child(4n + 4) {
        color: var(--b3-card-error-color);
        background-color: var(--b3-card-error-background);
    }

    > *:nth-child(4n + 3) {
        color: var(--b3-card-warning-color);
        background-color: var(--b3-card-warning-background);
    }

    > *:nth-child(4n + 2) {
        color: var(--b3-card-info-color);
        background-color: var(--b3-card-info-background);
    }

    > *:nth-child(4n + 1) {
        color: var(--b3-card-success-color);
        background-color: var(--b3-card-success-background);
    }
}

.my__block-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.my__block {
    color: var(--b3-theme-on-surface);
    border: 1px solid var(--b3-theme-border);
    font-size: 12px;
    font-weight: normal;
    padding: 1px;
    margin: 1px;
    /* 调整间隔 */
    display: inline-block;
    // white-space: nowrap;
    /* 防止换行 */
    box-sizing: border-box;
    border-radius: 4px;
    /* 圆角 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 卡片阴影效果 */
    background-color: var(--b3-toolbar-hover);
    /* 背景颜色 */
}

.my-protyle-attr--av > span {
    padding: 0 0.5em;
    border-radius: 0.5em;

    &:nth-child(4n + 4) {
        color: var(--b3-card-error-color);
        background-color: var(--b3-card-error-background);
    }

    &:nth-child(4n + 3) {
        color: var(--b3-card-warning-color);
        background-color: var(--b3-card-warning-background);
    }

    &:nth-child(4n + 2) {
        color: var(--b3-card-info-color);
        background-color: var(--b3-card-info-background);
    }

    &:nth-child(4n + 1) {
        color: var(--b3-card-success-color);
        background-color: var(--b3-card-success-background);
    }
}